<div class="container">
<h1 id="MainTittle">Cuentas</h1>
<br>
<a class="btn btn-primary" href="/cuenta/create">Nueva Cuenta</a>
<br>
<table class="table">
    <thead>
    <tr>
        <th>Nombre</th>
        <td>Categoria</td>
        <td>Saldo Inicial</td>
        <td>Moneda</td>
        <td>Tipo Cuenta</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nombre</td>
            <td>@item.categoria</td>
            <td>@item.saldoInicial</td>
            <td>@item.moneda</td>
            <td>@item.TipoCuenta.Nombre</td>
            <td>
                <a href="/Transaccion?tipoCuentaId=@item.id" class="btn btn-link">Transacciones</a>
                <a href="/cuenta/edit?id=@item.id" class="btn btn-link">Editar</a>
                <a href="/cuenta/delete?id=@item.id" class="btn btn-link">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>

Total Disponible real: @ViewBag.Total
</div>